<div class="max-w-sm mx-auto">
  <!-- Login -->
  <div
    class="flex items-center flex-col mt-3 w-full min-h-6 border-2 border-solid border-gray-200"
  >
    <!-- Logo -->
    <div class="h-14 w-40 inline-block mt-6 mb-2">
      <img src="assets/images/Instagramlogo.svg.png" alt="Instagram" />
    </div>

    <div class="mb-6 text-sm px-8 text-center">
      Sign up to see photos and videos from your friends
    </div>

    <!-- Form -->
    <div class="flex flex-col w-full px-8">
      <div class="flex flex-col space-y-2">
        <div class="border border-gray-300 rounded-sm">
          <input
            type="text"
            placeholder="Username"
            class="border-none focus:outline-none focus:ring-0 w-full p-2 text-xs bg-gray-50"
          />
        </div>

        <div class="border border-gray-300 rounded-sm">
          <input
            type="email"
            placeholder="Email address"
            class="border-none focus:outline-none focus:ring-0 w-full p-2 text-xs bg-gray-50"
          />
        </div>
        <div class="border border-gray-300 rounded-sm">
          <input
            type="password"
            placeholder="Password"
            class="border-none focus:outline-none focus:ring-0 w-full p-2 text-xs bg-gray-50"
          />
        </div>

        <div class="border border-gray-300 rounded-sm">
          <input
            type="password"
            placeholder="Confirm password"
            class="border-none focus:outline-none focus:ring-0 w-full p-2 text-xs bg-gray-50"
          />
        </div>
      </div>

      <button
        type="submit"
        class="w-full bg-blue-400 text-xs font-semibold py-2 mt-4 mb-6 text-white rounded-md"
      >
        Sign up
      </button>
    </div>
  </div>

  <!-- Sign up button -->
  <div
    class="flex items-center flex-col mt-3 w-full min-h-6 border-2 border-solid border-gray-200"
  >
    <div class="flex items-center py-4">
      <div class="text-xs">Alreadt have an account?</div>
      <a href="" class="text-xs text-blue-500 m-1">Log in</a>
    </div>
  </div>
</div>
